.navbar img {
    height: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px;
}

.nav-menu li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-connect {
    padding: 15px 20px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #3d7fa8 0%, #26a0da  51%, #314755  100%);
    font-size: 16px;
    transition: 0.5s;
    text-align: center;
    background-size: 200% auto;
    cursor: pointer;
    display: block;
}


.nav-connect:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width: 768px) {
    .navbar {
        margin: 20px 6%;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #082e4d;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 22px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
}