.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.proyectos-title{
    position: relative;
}

.proyectos-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.proyectos-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.proyectos-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.proyectos-container img:hover{
    transform: scale(1.10);
    border: 4px solid #2f81a7;
    border-radius: 10px;
    transition: 0.3s;
}

.proyectos-ver-mas {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.proyectos-ver-mas:hover {
    gap: 30px;
    transition: 0.6s;
}
